<div class="calculator">

    <div class="display">
        <div class="display-expression">
            <h1>{{ display }}</h1>
        </div>
        <div class="display-solution">
            <h3>{{ solution }}</h3>
        </div>
    </div>

    <div class="keypads">
        <div class="numerical-keypad">
            <div class="key-row">
                <div class="key-cell">
                    <key (clicked)="input('7')">7</key>
                </div>
                <div class="key-cell">
                    <key (clicked)="input('8')">8</key>
                </div>
                <div class="key-cell">
                    <key (clicked)="input('9')">9</key>
                </div>
            </div>
            <div class="key-row">
                <div class="key-cell">
                    <key (clicked)="input('4')">4</key>
                </div>
                <div class="key-cell">
                    <key (clicked)="input('5')">5</key>
                </div>
                <div class="key-cell">
                    <key (clicked)="input('6')">6</key>
                </div>
            </div>
            <div class="key-row">
                <div class="key-cell">
                    <key (clicked)="input('1')">1</key>
                </div>
                <div class="key-cell">
                    <key (clicked)="input('2')">2</key>
                </div>
                <div class="key-cell">
                    <key (clicked)="input('3')">3</key>
                </div>
            </div>
            <div class="key-row">
                <div class="key-cell">
                    <key (clicked)="input('.')">.</key>
                </div>
                <div class="key-cell">
                    <key (clicked)="input('0')">0</key>
                </div>
                <div class="key-cell">
                    <key (clicked)="equals()">=</key>
                </div>
            </div>
        </div>
        <div class="operators-keypad">
            <key class="key-operator key-delete-or-clear" (clicked)="delete()">
                {{ justSolved ? 'CLR' : 'DEL' }}
            </key>
            <key class="key-operator key-symbol" (clicked)="input('divide')">&#xf7;</key>
            <key class="key-operator key-symbol" (clicked)="input('times')">&#xd7;</key>
            <key class="key-operator key-symbol" (clicked)="input('minus')">&#x2212;</key>
            <key class="key-operator key-symbol" (clicked)="input('plus')">&#x2b;</key>
        </div>
    </div>

</div>
